@import 'app/styles/mixins/breakpoint';


.root {
  background: var(--header-color);
  padding: 15px 0;
}

.items {
  display: grid;
  grid-template-columns: 2fr auto auto auto auto 3fr auto auto;
  gap: 35px;
  align-items: center;
  justify-content: center;

  @include tablet {
    grid-template-columns: 2fr auto auto auto auto auto;
  }

  @include mobile {
    grid-template-columns: auto auto auto auto;
  }
}

.item {
  position: relative;
  font-size: 14px;

  &:last-child {
    margin-left: 20px;
  }

  @include tablet {
    &:last-child, &:nth-child(7) {
      display: none;
      margin-left: 0;
    }
  }

  @include mobile {
    &:first-child, &:nth-child(6) {
      display: none;
    }
  }
}

.icon {
  position: absolute;
  top: -2px;
  left: 55px;
}