@import "reset";
@import "variables/global";

.app {
    color: var(--primary-text-color);
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    outline: none;

    &:hover, &:active, &:focus {
        border-bottom: 2px solid #fff;
    }
}
