@import 'app/styles/mixins/breakpoint';

.root {
  position: fixed;

  li {
    margin-bottom: 10px;
    list-style: none;
  }

  @include tablet {
    position: static;
  }
}

.title {
  margin-bottom: 20px;
}

.list {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

}