.root {
  color: var(--dark-color);

  margin: 40px 0;
  font-size: 20px;
  font-weight: 700;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;

  padding: 20px 40px;
  margin-bottom: 20px;

  border-top: 2px solid var(--primary-color);
}

.img {
  width: 100px;
  height: 100px;

  border-radius: 10px;
}

.name {
  font-size: 21px;
  font-weight: 700;
}

.count {
  display: flex;
  align-items: center;


  &Value {
    margin: 0 10px;
  }
}


.bottom {
  display: flex;
  justify-content: space-between;

  padding: 20px 80px;

  border-top: 2px solid var(--primary-color);
}

.sum {
  font-size: 24px;
}

.empty {
  text-align: center;
}