@import 'app/styles/mixins/breakpoint';

.root {
  margin: 65px 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--dark-color);

  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  gap: 50px 10px;

  margin-bottom: 65px;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small-tablet {
    grid-template-columns: repeat(1, 1fr);
  }
}
