.root {
  background: #d9d9d9;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;

}

.m {
  width: 337px;
  height: 285px;
}

.l {
  width: 477px;
  height: 285px;
}

.b {
  width: 331px;
  height: 607px;
}

.title {
  font-weight: 600;
  font-size: 35px;
  text-transform: capitalize;

  margin-bottom: 15px;
}

.text {

  width: 280px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;

  margin-bottom: 25px;
}