.root {
  margin: 80px 0;
  color: var(--dark-color);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
  align-items: center;
  justify-items: center;
}

.img {
  border-radius: 10px;
  max-width: 550px;
  width: 100%;
  max-height: 550px;
}

.title {
  font-weight: 700;
  font-size: 52px;
}

.price {
  font-weight: 700;
  font-size: 44px;
  color: var(--light-color);

  margin-top: 10px;
  margin-bottom: 30px;
}

.description, .calorie, .weight {
  width: 410px;
  font-weight: 400;
  font-size: 18px;
}

.description {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
margin: 15px 0;
  button {
    margin-right: 50px;
  }
}