:root {
  //Шрифты
  --font-family: "Quicksand", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Pacifico", sans-serif;
  --font4: "Inter", sans-serif;
  --font5: "Segoe UI", sans-serif;
  --font6: "Spirax", sans-serif;
  //Размеры
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    // Цвета
  --primary-text-color: #fff;
  --primary-color: #ff8e25;
  --light-color: #f9913e;
  --header-color: rgba(255, 122, 0, 0.75);
  --dark-color: #000;
  --error-color: #ff3a44;

}
