.root {
  width: 320px;
  height: 320px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

}

.content {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  color: var(--dark-color);

  max-width:  271px;;
  text-align: center;
}

.date {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
  color: var(--dark-color);

  margin-bottom: 14px;
}

.text {

}